<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




</head>

<body>

  {% include "quiz/navbar.html" %}
  <br><br>

  <center>
    <h3 class='alert alert-success'>Send Us Your Valuable Feedback !</h3>
    <p class="display-4 d-none d-sm-block">Phone:xxxxxxxxx</p>
    <p class="display-4 d-none d-sm-block">E-mail:xxxxxxxxxxxxx</p> 
    <p class="display-4 d-none d-sm-block">Address:xxxxxxxxxxx</p> </br></br></br></br></br></br></br></br>

   
  </center>

  {% include "quiz/footer.html" %}
</body>

</html>
