<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




</head>

<body>

  {% include "quiz/navbar.html" %}
  <br><br>

  <center>
    <h3 class='alert alert-success'>Send Us Your Valuable Feedback !</h3>
    <br>
    <p class="display-4 d-none d-sm-block">Phone: +20 2 33358355</p>
    <p class="display-4 d-none d-sm-block">E-mail: dean_issr@cu.edu.eg</p> 
    <p class="display-4 d-none d-sm-block">Address: 5 Ahmed Zewail St - Giza.</p> </br></br></br></br></br></br></br></br>

   
  </center>

  {% include "quiz/footer.html" %}
</body>

</html>
